{# templates/admin/list_files.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Liste des Fichiers{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        h1, h2, tr {
            color: white;
        }
        h2 {
            font-size: 14px;
        }
        table {
            border-collapse: collapse;
            width: 100%;
            margin-bottom: 50px;
        }
        th, td {
            border: 1px solid white;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: rgba(255, 255, 255, 0.5); 
            border: 2px solid white; 
            text-align: center;
        }
        td {
            margin: 5px;
        }
    </style>
{% endblock %}

{% block body %}
{% include "_partials/_nav.admin.html.twig" %}
    <h1>Liste des Fichiers</h1>

    {% for user in users %}
        <h2 class="ms-3"> Utilisateur : {{ user.email }}</h2>
        <table>
            <tr>
                <th>Nom du Fichier</th>
                <th>Action</th>
                <th>Taille</th>
                <th>Format</th>
                <th>Date de téléchargement</th>
                <!-- Ajoutez d'autres en-têtes de colonne si nécessaire -->
            </tr>
            {% for file in user.files %}
                <tr>
                    <td>{{ file.fileName }}</td>
                    <td class="text-center"><a href="{{ path('app_view_listfile', {'id': file.id}) }}" class="btn btn-primary" style="margin-right: 20px;">
                    <img src="{{ asset('images/oeil.png') }}" alt="Invoice Logo" style="width: 20px;">
                    </a>
                    <a href="{{ path('app_delete_listfile', {'id': file.id}) }}" class="btn btn-danger">
                    <img src="{{ asset('images/delete.png') }}" alt="Supprimer" style="width: 20px;">
                    </a>
                    </td>
                    <td style="text-align: center;">{{ file.size }} octets</td>
                    <td style="text-align: center;">{{ file.format }}</td>
                    <td style="text-align: center;">{{ file.uploadDate|date('Y-m-d H:i:s') }}</td>
                    <!-- Ajoutez d'autres colonnes de données si nécessaire -->
                </tr>
            {% endfor %}
        </table>
    {% endfor %}
{% endblock %}
